registry=https://registry.npmjs.org/
@movesfinancial:registry=https://npm.pkg.github.com/
//npm.pkg.github.com/:_authToken=${GITHUB_AUTH_TOKEN} # github token with scopes: read:packages, write:packages, and delete:packages